body {
    background-color: #1b1b1b;
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: auto;
}

header,
.navigation_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header {
    justify-content: space-between;
    padding: 30px;
    height: 3.5em;
}

.navigation_header {
    gap: 3em;
    z-index: 2;
}


.title {
    flex-direction: column;
    line-height: 10px;
    font-size: 1rem;
}

.link-name {
    text-decoration: none;
    color: white;
}

.link-name:hover {
    color: white;
}

.navegacao {
    display: flex;
    gap: 2.5em;
}

.link-header {
    color: white;
    text-decoration: none;
    padding: 10px 0;
    transition: 0.3s;
}

.link-header:hover {
    color: #5ae974;
}

.projetos-btn {
    border: 2px solid #5ae974;
    padding: 10px 15px;
    border-radius: 15px;
    transition: 0.5s;
}

.projetos-btn:hover {
    background-color: #5ae974;
    color: black;
}

.btn_icon_header {
    background: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: none;
}

.btn_icon_header-x {
    background: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    margin-top: 10px;
    display: none;
}

/*----------------------------------------------------------------------------------- JAVASCRIPT -------------------------------------------------------------------------------------------*/

/* Animação do scroll */

.js .js-scroll {
    opacity: 0;
    transform: translate3d(-40px, 0, 0);
    transition: 1s;
}

.js .js-scroll.ativo {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: 1s;
}